@import "Vars";

.topmenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $grey;
  .links {
    float: left;
    a {
      display: block;
      color: white;
      text-align: center;
      padding: 18px 16px;
      text-decoration: none;
      &:hover {
        background-color: $black;
      }
    }
  }
}
