* {
    padding: 0rem;
    margin: 0rem;
}

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-signup-form {
    width: 60rem;
    height: 10rem;
    flex-direction: column !important;
}

.form-group-signup {
    width: 600rem;
}

.error {
    color: rgb(233, 72, 72);
    font-size: 1rem;
}

.good {
    color: #40b48e;;
    font-size: 1rem;
    justify-content: center;
}